<html>
<head>
	<title>Himanshu's Blog</title>
</head>
<body>
	<div>
<h1 >About Me</h1>
<p>Welcome, I am Himanshu Deshwal. This is my first blog that I have created useing Django. I love coding and can't think much abouve it. In my free time i like to get high and have a moment with my friends. I don't have a GF since my last break Up, I dont know why I am not able to gett along with any girl since (1year), it may due to insequrrity I  facce due to my past ---- experience. You can view my posts to  view more.
<p>
</div>
<div>
<h2>About Blog</h2>
<p>
This blog covers my story of my love and break up and  after......</p>
</div>
</body>
</html>